body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%);
}

#create {
    float: right;
    padding-top: 7px;
}

h1 {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #fff;
    line-height: 40px;
    color:rgb(71, 71, 71);
    font-size: 15px;
}
li:nth-child(2n) {
    background-color: #f7f7f7;
}

input {
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}
input:focus {
    background-color: #fff;
    border: 3px solid #2980b9;
    outline: none;
    color: #2980b9;
}

#container {
    background-color: #f7f7f7;
    width: 360px;
    margin: 0 auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.completed {
    color: grey;
    text-decoration: line-through;
}

span {
    background-color: #e74c3c;
    height:40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

.hide {
    display: none;
}